body {
    height: 100vh;
    background: conic-gradient(from 270deg at -10% 100%, rgb(117, 59, 59), rgb(0, 0, 0));
}

#container {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5);
}

h1 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 800;
    font-size: 80px;
    color: white;
    letter-spacing: 0.2ch;
    text-shadow: 0px 5px 0px #ffffff75;
}

h4 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.mobile-break {
    display: none;
}

@media screen and (max-width: 750px) {
    h1 {
        font-size: 40px;
        text-shadow: 0px 3px 0px #ffffff75
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
        margin-top: 8px;
    }

    .mobile-break {
        display: inline;
    }
}

#main-logo:hover {
    cursor: pointer;
}