:root {
    --fg-color: #201d2d;
    --bd-color: #ffffff;
    --bg-color: rgb(20, 20, 20);
    --card-color: #201d2d;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

.hz-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#download-btn,
#header-logo,
#location {
    display: none;
}

#main-logo {
    margin-top: 90px;
    height: 100px;
    width: auto;
    justify-content: center;
    transition: transform 250ms;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000034;
    backdrop-filter: blur(30px);
    box-shadow: 0px 8px 24px 0px #00000034;
    color: #fff;
    padding: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header-title {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    letter-spacing: 0.3ch;
    transition: all 500ms;
}

.header-content {
    margin-inline: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.align-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-btn {
    height: 35px;
    padding-inline: 15px;
    margin-top: 3px;
    margin-inline: 8px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 1px solid var(--bd-color);
    border-radius: 12px;
    box-shadow: 0px 0px 0px 0px var(--bd-color);
    transition: all 0.4s;
}

.header-btn:hover {
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px var(--bd-color);
    transform: translateX(-4px) translateY(-4px);
}

.header-btn:active {
    background-color: #ffffff52;
}

.root-cards-container {
    padding-block: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    cursor: pointer;
    display: flex;
    height: 80px;
    width: 70%;
    flex-direction: column;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: transform 250ms, box-shadow 250ms;
}

.card:hover::before {
    opacity: 1;
}

.card:hover {
    box-shadow: rgba(170, 157, 236, 0.1) 0px 30px 60px -30px;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(170, 157, 236, 0.1),
            transparent 40%);
    z-index: 3;
}

.card::after {
    background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),
            rgba(170, 157, 236, 0.5),
            transparent 40%);
    z-index: 1;
}

.card:active {
    transform: translateY(8px) !important;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

h1,
h2,
h3,
h4,
span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}

.section {
    height: max-content;
    min-height: 105vh;
}

#s-main {
    background: conic-gradient(from 270deg at -10% 100%, rgb(61, 56, 87), rgb(0, 0, 0));
    height: 100vh;
}

#s-create {
    background: conic-gradient(from 270deg at -10% 100%, rgb(55, 87, 82), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

#s-check {
    background: conic-gradient(from 270deg at -10% 100%, rgb(70, 95, 139), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

#s-report {
    background: conic-gradient(from 270deg at -10% 100%, rgb(124, 62, 75), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: block;
    height: max-content;
    width: 65%;
    background-color: #00000034;
    backdrop-filter: blur(30px);
    color: #fff;
    border: 1px solid #ffffff31;
    border-radius: 18px;
    margin-inline: 10px;
    margin-block: 20px;
    padding: 10px 20px 20px;
    transition: box-shadow 500ms;
    justify-content: center;
}

.form-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
}

/* --- INPUT --- */

::-webkit-calendar-picker-indicator,
::-ms-reveal {
    filter: invert(1);
}

.group {
    position: relative;
    margin-bottom: 30px;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="datetime-local"],
textarea {
    font-size: 16px;
    padding: 10px 10px 5px 10px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: transparent;
}

input[type="datetime-local"] {
    font-size: 12px;
}

textarea {
    height: 300px;
    outline: 1px solid white;
    resize: none;
}

input[state="valid"] {
    outline: 2px solid greenyellow;
}

input[state="invalid"] {
    outline: 2px solid orangered;
}

input[state="none"] {
    outline: 1px solid white;
}

.text-inp-label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input:focus ~ label:not(.vanish),
input:valid ~ label:not(.vanish) {
    top: -26px;
    font-size: 16px;
    color: #ffffff;
}

input:focus ~ .vanish,
input:valid ~ .vanish,
input[type="number"]:not([state="none"]) ~ .vanish,
textarea:focus ~ .vanish,
textarea:valid ~ .vanish {
    display: none;
}

/* --- SWITCH --- */
.switch {
    position: relative;
    display: flex;
    width: 55px;
    height: 28px;
    margin-bottom: 12px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #66666681;
}

input:focus + .slider {
    box-shadow: 0 0 1px #66666681;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider-label {
    display: flex;
    align-items: center;
    margin-left: 125%;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 18px;
    white-space: nowrap;
}

.switchable-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 250ms;
}

.switchable-input > .group {
    display: none;
}

.info-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    bottom: 0;
}

.form-submit {
    font-family: 'Roboto Flex', sans-serif;
    color: white;
    font-size: 18px;
    width: 100%;
    padding: 8px;
    position: relative;
    border-radius: 6px;
    border: 2px solid white;
    background-color: #ffffff23;
    transition: all 250ms;
    box-shadow: 0px 0px 0px 0px var(--bd-color);
}

.form-submit:hover {
    cursor: pointer;
    background-color: #ffffff34;
    box-shadow: 4px 4px 0px 0px var(--bd-color);
    transform: translateX(-4px) translateY(-4px);
}

.form-submit:active {
    transition: background-color 100ms;
    background-color: rgba(255, 255, 255, 0.548);
}

#sh-info {
    font-family: 'Roboto Flex', sans-serif;
}

.code-details-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.detail-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.detail-name {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    font-size: 16px;

}

.detail-value {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 600;
    font-size: 24px;
}